* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: OpenSans-Regular;
	src:url(OpenSans-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Bold;
	src:url(OpenSans-Bold.ttf);
}
@font-face {
	font-family: OpenSans-SemiBold;
	src:url(OpenSans-SemiBold.ttf);
}
body {
   overflow-x: hidden;
}
#navbar-menu {
	padding: 20px 0;
}
#menuid-button {
	background-color: #013c74;
    padding: 10px 35px;
    margin-left: 30px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    color: white;
}
.nav-color  {
	line-height: 35px;
	margin-left: 25px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans-SemiBold;
}
.about-team-img-hover2:hover > h2 {
	width: 100%;
	height: 100%;
	background-color: #5cc35c94;
}
.about-team-img-hover2 {
	position: relative;
	height: 197px;
}
.about-team-img-hover2 > h2 {
	position: absolute;
	text-align: center;
}
.about-team-img-hover2:hover > .home-services-cong {
	display: block;
	padding-top: calc((197px - 35px)/2);
	padding-left: calc((100% - 126px)/2);
}
.service-our-img-hover:hover > .about-team-img-hover1 > h2 {
	width: 100%;
	height: 100%;
	background-color: #5cc35c94;
}
.about-team-img-hover1 {
	position: relative;
	height: 197px;
}
.about-team-img-hover1 > h2 {
	position: absolute;
	text-align: center;
}
.service-our-img-hover:hover > .about-team-img-hover1 > .home-services-cong {
	display: block;
	padding-top: calc((197px - 35px)/2);
	padding-left: calc((100% - 126px)/2);
}

.about-team-img-hover {
	position: relative;
	height: 312px;
}
.about-team-hover:hover > .about-team-img-hover > h2 {
	width: 100%;
	height: 100%;
	background-color: #5cc35c94;
}
#modal-fix {
	width: 35%;
}
#modal-fix p {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: OpenSans-Regular;
}
#modal-fix h2 {
	text-align: center;
	font-family: OpenSans-Regular;
}
#modal-fix a {
	text-align: center;
	background-color: #4156cd;
	color: white;
	padding: 10px 35px;
	margin: 0 auto;border-radius: 5px;
	display: block;
	font-family: OpenSans-Regular;
}
.modal-input {
	background-color: #ededed;
	margin-bottom: 20px;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;

}
.about-team-hover:hover > .about-team-img-hover > .home-services-cong {
	display: block;
	padding-top: calc((312px - 35px)/2);
	padding-left: calc((100% - 126px)/2);

}
.about-team-img-hover > h2{
	position: absolute;
	text-align: center;
	
}
.modal {
  display: none; 
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
} 
#active {
    color: #5cc35c;
   font-family: OpenSans-Bold;
   margin-left: 40px;
    font-size: 14px;
   text-transform: uppercase;
}
.menu-project-img-hover {
	position: relative;
}
.home-new-text-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.menu-project-img-hover:hover > h1 {
	width: 100%;
	height: 100%;
	background-color: #5cc35c;
}
.menu-project-img-hover:hover > .menu-project-img-hover1 {
	display: block;
	top: calc((100% - 35px)/2);
	left: calc((100% - 126px)/2);
}
.menu-project-img-hover > h1 {
	position: absolute;
}
.menu-project-img-hover1 {
	position: absolute;
	display: none;
}
#back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    background-color: #5cc35c;
    display: inline-block;
    padding: 15px 18px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
}
li {
	list-style: none;
}
#project-realated h1:after {
	border: 2px solid #5cc35c;
    content: "";
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 57px;
}
#project-realated h1 {
	font-size: 30px;
	line-height: 48px;
	font-family: OpenSans-Bold;
	color: #013c74;
}
#project-realated {
	text-align: center;
	background-color: #f7f7f7;
	padding: 71px 0 80px;
}
#project-img div {
	width: 31%;
}
.project-img-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#project-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#project-text-right h3 {
	font-size: 24px;
	line-height: 36px;
	color: #252525;
	font-family: OpenSans-Bold;
}
#project-text-right p span{
	color: #252525;
}
#project-text-right p {
	font-size: 14px;
	line-height: 48px;
	color: #636363;
	font-family: OpenSans-Regular;
}
#project-text-left {
	width: 60%;
}
#project-text-left p {
	font-size: 14px;
	line-height: 24px;
	color: #636363;
	font-family: OpenSans-Regular;
}
#project-text-left h3 {
	font-size: 24px;
	line-height: 48px;
	color: #252525;
	font-family: OpenSans-Bold, OpenSans-Regular;
	margin-bottom: 10px;
}
#project-text-right {
	width: 30%;
}
#project-main {
	padding: 75px 0;
}
#project-main img {
	width: 100%;
}
#project-main h1 {
	text-align: center;
	line-height: 48px;
	font-size: 30px;
	color: #013c74;
	font-family: OpenSans-Bold;
	margin-bottom: 40px;
}
#project-text {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
}
#contact-img  {
	margin-top: 80px;
}
#contact-img img {
	width: 100%;
}
#contact-text-right input {
	font-size: 14px;
	line-height: 24px;
	color: #636363;
	padding: 15px 0 15px 20px;
	font-family: OpenSans-Regular;
	border: 1px solid #ebebeb;
	margin-bottom: 20px;
}
#contact-text-right button {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	padding: 10px 32px 10px 32px;
	font-family: OpenSans-Bold;
	background-color: #5cc35c;
	border: none;
	border-radius: 22px;
}
#contact-text-right textarea {
	font-size: 14px;
	line-height: 24px;
	color: #636363;
	padding: 15px 0 120px 20px;
	font-family: OpenSans-Regular;
	border: 1px solid #ebebeb;
	margin-bottom: 40px;
	resize: none;
}
#contact-text-left1 {
    margin-top: 35px;
}
#contact-text-left1 p {
    display: inline-block;
    padding-left: 18px;
}
#contact-text-left1 img {
    padding-right: 18px;
    border-right: 1px solid #676767;
    width: 32px;
}
#contact-text  {
    padding: 70px 0;
}
#contact-text .container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
#contact-text-left h1 {
   font-size: 24px;
   line-height: 42px;
   color: #636363;
   font-family: OpenSans-Bold;
   margin-bottom: 10px;
}
#contact-text-left p {
   font-size: 14px;
   line-height: 24px;
   color: #252525;
   font-family: OpenSans-Regular;
   margin-bottom: 15px;
}
#contact-text-left {
    width: 50%
}
#contact-text-right {
    width: 50%
}
header {
    background-color: #ddd;
    background-image: url(img/banner123.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog-right-tag a {
   font-size: 14px;
    line-height: 36px;
    font-family: OpenSans-Regular;
    color: #636363;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
}
#blog-right-tag a:hover {
   background-color: #5cc35c;
   color: white;
}
#blog-right-achive p:hover {
   color: #5cc35c;
}
#blog-right-achive p {
    font-size: 14px;
    line-height: 36px;
    color: #636363;
    font-family: OpenSans-Bold, OpenSans-Regular;
}
.blog-left-page1  {
    border: none;
    font-size: 14px;
    font-family: OpenSans-Regular;
    margin-right: 8px;
    text-align: center;
    padding: 0 11px;
    color: #013c74;
}
#blog-right-category p:hover {
   color: #5cc35c;
}
.blog-right-new1 {
  font-size: 14px;
  line-height: 30px;
  color: #636363;
  font-family: OpenSans-SemiBold, OpenSans-Regular;
}
.blog-right-new div p {
  font-size: 14px;
  line-height: 26px;
  font-family: OpenSans-SemiBold, OpenSans-Regular;
}
.blog-right-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
   margin-bottom: 20px;
}
#blog-right h3:after {
    border: 2px solid #5cc35c;
    content: "";
    display: block;
    width: 40px;
    margin-top: 15px;
    margin-bottom: 40px;
}
#blog-right-category p {
   font-size: 14px;
   line-height: 48px;
   color: #636363;
   font-family: OpenSans-Bold, OpenSans-Regular;
}
#blog-right h3 {
   font-size: 18px;
   line-height: 48px;
   color: #013c74;
   font-family: OpenSans-Bold;
   margin-top: 65px;
}
#blog-right input {
    border: none;
    color: #636363;
    font-size: 14px;
    line-height: 33px;
     padding: 10px 0 10px 20px;
     color: #013c74;
     background-color: #f7f7f7; 
}
#blog-left-page a:not(.blog-left-page1) {
    display: inline-block;
    padding: 0 11px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 20px;
    border: 1px solid #edf1f5;
    color: #013c74;
    font-size: 14px;
    font-family: OpenSans-Regular;
    margin-right: 8px;
}
#blog-left-page a:hover:not(.blog-left-page1) {
    background-color: #5cc35c;
    color: white;
}
#blog-left div p {
   font-size: 14px;
   line-height: 24px;
   color: #636363;
   font-family: OpenSans-Regular;
   margin-top: 25px;
}
#blog-left div {
  margin-bottom: 35px;
}
#blog-left img {
  width: 100%;
}
.blog-left-text1 p {
    display: inline-block;
    color: #636363;
    font-family: OpenSans-Regular, OpenSans-Bold;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 10px;
    padding-right: 35px;
}
.blog-left-text1 p span {
   color: #5cc35c;
   
}
#blog {
    padding: 80px 0 120px;
}
#blog .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#blog-left {
    width: 60%;
}
#blog-left h3{
    color: #252525;
    font-size: 18px;
    line-height: 30px;
    font-family: OpenSans-Regular, OpenSans-Bold;
}
#blog-right {
    width: 30%;
}
.blog-left-text2 {
    padding-left: 35px;
    padding-right: 35px;
    border-left: 1px solid #ddd;
}
.blog-right-new img {
    width: 30%;
    margin-right: 20px;
}
.blog-right-new div {
    width: 63%;
}
#service-our {
    padding: 70px 0;
    background-color: #f7f7f7;
}
#service-our .container > h1 {
    text-align: center;
    font-family: OpenSans-Bold; 
    color: #013c74;
    font-size: 30px;
}
#service-our .container > h1:after {
    border: 2px solid #5cc35c;
    content: "";
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 57px;
}
#service-our .container  h3 {
    font-family: OpenSans-Bold; 
    color: #252525;
    font-size: 18px;
    margin: 5px 0;
    border-bottom: 2px solid #e5e5e5;
    padding: 18px 0;
}
#service-our .container  p {
    font-family: OpenSans-Bold, OpenSans-Regular; 
    color: #636363;
    font-size: 14px;
    line-height: 36px;
    margin-top: 10px;
}
#service-our .container  p a {
    color: #5cc35c;
}
#service-our-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about-team-img-hover1-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#service-our-img > div{
   width: 30%;
   margin-bottom: 45px;
}
#menu-page {
    background-color: #3a535f;
}
a {
	text-decoration: none;
}
#about-team  {
	padding: 80px 0 57px;
	text-align: center;
}
#about-team  h1 {
	font-size: 30px;
	color: #013c74;
	font-family: OpenSans-Bold;
}
#about-team  h1:after {
	border: 2px solid #5cc35c;
	content: "";
	display: block;
	width: 40px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 57px;
}
#about-team-icon  {
	margin-top: 50px;
}
#about-team-icon p {
    display: inline-block;
    margin-right: 6px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #dad7d7;
}
#about-team-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about-team-img > div {
	width: 23%;
}
.about-team-img123 {
	width: 100%;
	height: 312px;
	object-fit: cover;
}
#about-team-img  h3 {
	font-size: 18px;
	color: #252525;
	margin-bottom: 5px;
	margin-top: 22px;
	font-family: OpenSans-Regular, OpenSans-Bold;
}
#about-team-img  p {
	font-size: 14px;
	color: #636363;
	margin-bottom: 15px;
	line-height: 24px;
	font-family: OpenSans-Regular, OpenSans-Bold;
}
#about-action {
	padding: 28px 0;
	background-color: #013c74;
}
#about-action button {
    font-size: 14px;
    color: #fff;
    background-color: #5cc35c;
    border: none;
    padding: 15px 35px;
    border-radius: 25.5px;
    font-family: OpenSans-Bold;
}
#about-action h3 {
	font-size: 24px;
	color: #fff;
	line-height: 46px;
	font-family: OpenSans-Bold;
}
#about-action .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about-partner .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about-partner  {
	padding: 70px 0;
	background-color: #f7f7f7;
}
#about-subscribe {
	background-color: #ddd;
	padding: 100px;
	text-align: center;
	background-image: url(img/aboutnow.png);
	background-repeat: no-repeat;
	background-size: cover;
}
#about-subscribe h1 {
	font-size: 36px;
	color: white;
	margin-bottom: 15px;
	font-family: OpenSans-Bold;
}
#about-subscribe p {
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	font-family: OpenSans-Regular;
	max-width: 50%;
	margin: 0 auto 35px;
}
#about-subscribe input {
	width: 400px;
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	padding: 17.5px 40px;
	border-top-left-radius: 28.5px;
	border-bottom-left-radius: 28.5px;
	font-family: OpenSans-Regular;
}
#about-subscribe-input {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
#about-subscribe button {
	width: 165px;
	display: inline-block;
	background-color: #5cc35c;
	color: white;
	border: none;
	font-size: 15px;
	padding: 20px 40px;
	border-top-right-radius: 28.5px;
	border-bottom-right-radius: 28.5px;
	font-family: OpenSans-Bold;
	text-transform: uppercase;
}
#about-choose {
	padding: 80px 0 75px;
	background-color: #f7f7f7;
}
#about-choose h3 {
	font-size: 18px;
	color: #222326;
	margin-bottom: 11px;
	margin-top: 20px;
	font-family: OpenSans-Bold;
}
#about-choose p {
	font-size: 14px;
	color: #55555a;
	line-height: 36px;
	font-family: OpenSans-Bold;
}
#about-choose .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about-choose .container > div {
	width: 30%;
	text-align: center;
}
#about-text {
	padding: 80px 0;
}
#about-text .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#about-text .container div {
    width: 48%;
}
#about-text .container > div > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#about-text .container div h2 {
	font-size: 24px;
	margin-bottom: 20px;
	font-family: OpenSans-Regular;
	color: #013c74;
}
#about-text .container div p {
	font-size: 14px;
	line-height: 48px;
	margin-bottom: 4px;
	color: #636363;
	font-family: OpenSans-Bold;
}
#about-text .container div ul li {
	font-size: 16px;
	line-height: 36px;
	color: #636363;
	font-family: OpenSans-Bold;
}
#about-text .container div ul li img {
	padding-right: 10px;
}
#about-text .container div button {
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	background-color: #5cc35c;
	border: none;
	padding: 8px 26px;
	border-radius: 23px;
}
#about-text .container div ul {
	margin-bottom: 20px;
}
#home-choose {
	padding-bottom: 70px;
}
.text {
	font-size: 30px;
	color: #013c74;
	text-align: center;
	font-family: OpenSans-Bold;
}
.text:after {
	content: "";
	border-bottom: 4px solid #5cc35c;
	width: 60px;
	display: block;
	margin: 0 auto;
	padding-top: 22px;
	margin-bottom: 55px;
}
.container {
	max-width: 1168px;
	margin: 0 auto;
} 
#about-menu-text h1 {
	font-size: 36px;
	line-height: 48px;
	font-family: OpenSans-Regular, OpenSans-Bold;
	color: #fff;
}
#about-menu-text {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ebebeb;
    background-image: url(img/aboutbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center;
}
#about-menu-text p {
    font-size: 14px;
    line-height: 32px;
    font-family: OpenSans-Regular, OpenSans-Bold;
    background-repeat: no-repeat;
    /* padding-left: 20px; */
    color: #fff;
}
#menu-top {
	background-color: #013c74;
}
#menu-top > .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 50px;
}
#menu-top .container {
	line-height: 50px;
}
#menu-top .container ul li {
	display: inline-block;
}
#menu-top1 li {
	margin-right: 40px;
}
#menu-top1 li p {
	font-size: 14px;
	color: white;
	font-family: OpenSans-Regular;
}
#menu-top1 li:nth-child(1) {
	background-image: url(img/iconto1.png);
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0 15px;
}
#menu-top1 li:nth-child(2) {
	background-image: url(img/iconto2.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 0 18px;
}

#menu-top1 li:nth-child(3) {
	background-image: url(img/iconto3.png);
	background-repeat: no-repeat;
	padding-left: 22px;
	background-position: 0 16px;

}
#menu-text {
	text-align: center;
}
#menu-text h3 {
    margin-top: 200px;
    font-size: 24px;
    line-height: 36px;
    color: white;
    margin-bottom: 20px;
    font-family: OpenSans-Bold, OpenSans-Regular;
}
#menu-text h1 {
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 60px;
	line-height: 86px;
	color: white;
	margin-bottom: 5px;
}
#menu-text p {
    font-size: 18px;
    line-height: 48px;
    color: white;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: OpenSans-Bold, OpenSans-Regular;
}
#menu-text button {
    font-size: 14px;
    color: white;
    padding: 13.5px 30px;
    margin-bottom: 250px;
    background-color: #5cc35c;
    border-radius: 23px;
    border: none;
    font-family: OpenSans-Bold;
}
#menu-bottom {
	background-color: #013c74;
	padding: 59.5px 0;
}
#menu-bottom button {
	height: 45px;
	padding: 0 35px;
	background-color: #5cc35c;
	color: white;
	font-size: 14px;
	border: none;
	border-radius: 22.5px;
	font-family: OpenSans-Bold;
}
#menu-bottom p {
	font-size: 24px;
	color: #fff;
	line-height: 45px;
	font-family: OpenSans-Bold;
}
#menu-bottom > .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-choose {
	text-align: center;
	padding: 80px 0;
}
#home-client-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 77px;
}
#home-client-img a {
	margin: 0 30px;
}
.footer3-img1 img {
	width: 100%;
}
#home-choose-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-choose-img h3 {
	font-size: 18px;
	color: #222326;
	margin-top: 15px;
	margin-bottom: 10px;
	font-family: OpenSans-Bold;
}
#home-choose-img p {
	font-size: 14px;
	color: #55555a;
	line-height: 36px;
	font-family: OpenSans-Bold;
}
#home-choose-img > div {
	width: 357px;
}
#home-services {
	text-align: center;
	background-color: #f7f7f7;
	padding: 80px 0;
}
#home-services-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#home-services-img h3 {
	font-size: 14px;
	color: #252525;
	margin-bottom: 10px;
	margin-top: 30px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
#home-services-img p {
    font-size: 14px;
    color: #636363;
    line-height: 32px;
    margin-bottom: 21px;
    padding: 0px 15px;
    font-family: OpenSans-Bold, OpenSans-Regular;
}
.menu-project-img8 {
    width: 100%;
    object-fit: cover;
    height: 100%;
}
#home-services-img > div {
	width: 23%;
	background-color: white;
	position: relative;
}
.home-services-img2 > h2 {
	position: absolute;
}
.home-services-cong {
	position: absolute;
	display: none;
}
.home-services-img2 {
	position: relative;
}
.home-services-img1:hover > .home-services-img2 > .home-services-cong {
	display: block;
	top: calc((100% - 22px)/2);
	left: calc((100% - 22px)/2);
}
.home-services-img1:hover > .home-services-img2 > h2 {
	background-color: #5cc35c;
	width: 100%;
    height: 100%;
}
.home-services-img1:hover  {
	transform: translateY(-3px);
}
.home-services-img1:hover > h1 {
	width: 100%;
    height: 100%;
    -moz-box-shadow: 5px 5px 8px 5px #ddd;
    -webkit-box-shadow: 5px 5px 8px 5px #ddd;
    box-shadow: 5px 5px 8px 5px #ddd;
}
#home-services-img > div > h1 {
	
	position: absolute;
}
#home-services-img > div > div {
	height: 150px;
}
.home-services-img5 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#menu-project {
	text-align: center;
	padding: 80px 0;
}
#menu-project button {
    font-size: 14px;
    line-height: 24px;
    padding: 11px 40px;
    color: white;
    background-color: #5cc35c;
    border: none;
    border-radius: 23px;
    margin-top: 20px;
    font-family: OpenSans-Bold;
}
#menu-project ul {
	margin-bottom: 42px;
}
#menu-project ul li {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 15px;
}
#menu-project ul li p:hover {
	background-color: #5cc35c;
	color: white;
}
#menu-project ul li p {
	padding: 0 28px;
	font-size: 16px;
	color: #252525;
	height: 50px;
	line-height: 50px;
	background-color: #f7f7f7;
	display: inline-block;
	border-radius: 25px;
	text-transform: capitalize;
	font-family: OpenSans-SemiBold;
}
#menu-project li p.active {
  background-color: #5cc35c;
  color: white;
}
#menu-project-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#menu-project-img > div > div {
	width: 32%;
	margin-bottom: 20px;
	height: 374px;
}
#menu-project-img2 > div > div {
	width: 32%;
	margin-bottom: 20px;
	height: 374px;
}
#menu-project-img3 > div > div {
	width: 32%;
	margin-bottom: 20px;
	height: 374px;
}
#menu-project-img4 > div > div {
	width: 32%;
	margin-bottom: 20px;
	height: 374px;
}
#menu-leader {
	padding: 80px 0;
	background-color: #ddd;
	background-image: url(img/banner2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#menu-leader button {
	font-size: 14px;
	line-height: 36px;
	color: #fff;
	padding: 0 45px;
	height: 45px;
	border: 2px solid #5cc35c;
	border-radius: 22.5px;
	background-color: #ddd0;
}
#menu-leader .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-new {
	padding: 80px 0;
}
#home-new-top {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-new-top h1 {
	font-size: 30px;
	color: #013c74;
	font-family: OpenSans-Bold;
}
#home-new-top h1:after {
    content: "";
    width: 60px;
    border: 2px solid #5cc35c;
    display: block;
    margin-top: 30px;
    margin-bottom: 55px;
}
.home-new-text > div > div {
	width: 30%;
}
.home-new-text > div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#home-client {
	text-align: center;
	padding: 80px 160px;
	background-color: #f7f7f7;
}
#home-client .container > p {
	font-size: 18px;
	line-height: 36px;
	color: #636363;
	margin-bottom: 5px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
.home-new-text-wrapimg {
	height: 250px;
} 
#home-client .container > h3 {
	font-size: 18px;
	line-height: 24px;
	color: #252525;
	margin-top: 30px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
#home-client .container > h4 {
	font-size: 14px;
	line-height: 24px;
	color: #5cc35c;
	margin-bottom: 20px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
#home-logo {
	padding: 60px 0;
}
#home-logo .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-call {
	padding: 80px 0;
}
#home-call .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#home-call-left {
	width: 50%;
} 
#menu-leader-left1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}
.menu-leader2 {
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 14px;
	line-height: 30px;
	color: white;
}
#menu-leader-left > h1 {
	font-size: 36px;
	line-height: 40px;
	color: #fff;
	font-family: OpenSans-Bold, OpenSans-Regular;
}  
#menu-leader1 {
	background-image: url(img/iconnew1.png);
	background-repeat: no-repeat;
	padding-left: 33px;
	margin-bottom: 15px;
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 24px;
	line-height: 23px;
	color: white;
}
#menu-leader2 {
	background-image: url(img/iconnew2.png);
	background-repeat: no-repeat;
	padding-left: 33px;
	margin-bottom: 15px;
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 24px;
	line-height: 23px;
	color: white;
}
#menu-leader3 {
	background-image: url(img/iconnew3.png);
	background-repeat: no-repeat;
	padding-left: 33px;
	margin-bottom: 15px;
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 24px;
	line-height: 23px;
	color: white;
}
#menu-leader4 {
	background-image: url(img/iconnew2.png);
	background-repeat: no-repeat;
	padding-left: 33px;
	margin-bottom: 15px;
	font-family: OpenSans-Bold, OpenSans-Regular;
	font-size: 24px;
	line-height: 23px;
	color: white;
}
#menu-leader-left > p {
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	margin-top: 8px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}   
#menu-leader-left > button {
	margin-top: 36px;
	font-size: 14px;
	height: 46px;
	color: white;
	border: 2px solid #5cc35c;
	background-color: #ddd0;
	font-family: OpenSans-Bold;
}  
#home-call-right {
	width: 50%;
	padding-left: 114px;
} 
#home-call-right form select, input, textarea {
	width: 100%;
	font-size: 14px;
	line-height: 51px;
	color: #636363;
	border: none;
} 
.home-call-text2 {
	font-size: 14px;
	color: white;
	line-height: 24px;
	margin-bottom: 25px;
	font-family: OpenSans-Regular;
} 
#home-call-text1 {
	font-size: 14px;
	color: white;
	margin-bottom: 35px;
	line-height: 26px;
	font-family: OpenSans-Bold, OpenSans-Regular;
} 
#home-call {
    background-color: #ddd;
    background-image: url(img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 
#home-call h1 {
	font-size: 36px;
	color: white;
	margin-bottom: 10px;
	margin-top: 20px;
	font-family: OpenSans-Bold, OpenSans-Regular;
} 
#home-call-right form select {
    height: 50px;
    padding-left: 27px;
    margin-bottom: 15px;
    font-family: OpenSans-Regular;
} 
#home-call-right form input {
    height: 50px;
    padding-left: 30px;
    margin-bottom: 15px;
    font-family: OpenSans-Regular;
} 
#home-call-right form textarea {
	height: 110px;
	padding-left: 30px;
	resize: none;
	font-family: OpenSans-Regular;
} 
#home-call-right form button {
	height: 46px;
	padding: 0 30px;
	border-radius: 23px;
	background-color: #013c74;
	color: white;
	font-size: 14px;
	line-height: 36px;
	border: none;
	margin-top: 30px;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
} 
#footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#footer4-img div img {
	width: 100%;
}
.footer3-img {
	display: flex;
	flex-wrap: wrap;
}
.footer3-img1 {
    margin-right: 20px;
    margin-bottom: 20px;
}
.footer3-img2 {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 50%;
}
footer {
	padding: 80px 0;
	background-color: #252525;
}
#footer > div {
	width: 22%;
}
#footer4-img {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
#footer4-img > div{
	width: 30%;
	margin-bottom: 10px;
}
#footer-bottom {
	background-color: #1f1f1f;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
#footer-bottom p {
	color: #636363;
	font-size: 14px;
	line-height: 51px;
	font-family: OpenSans-Regular;
}
.home-new-text1 {
	padding: 30px;
}
.home-new-text1 h3 {
	font-size: 18px;
	line-height: 24px;
	color: #252525;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
.home-new-text1 p {
	font-size: 14px;
	color: #636363;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 23px;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
.home-new-text1 button {
    padding: 9px 28px;
    color: white;
    font-size: 14px;
    line-height: 25px;
    background-color: #013c74;
    border-radius: 21px;
    border: none;
    font-family: OpenSans-Bold;
}
#footer-text1 {
	margin: 20px 0;
	color: white;
	font-size: 14px;
	line-height: 24px;
	font-family: OpenSans-Regular;
}
.text-footer {
	font-size: 18px;
	line-height: 30px;
	color: white;
	margin-bottom: 40px;
    font-family: OpenSans-Bold;
}
#footer2-text1 ul li a {
	font-size: 14px;
	font-family: OpenSans-Regular;
	color: white;
}
#footer2-text1 ul li {
	margin-bottom: 15px;
}
.footer-text2 {
	font-size: 14px;
	line-height: 24px;
	color: white;
	font-family: OpenSans-Regular;
}
#footer2-text1  {
	display: flex;
	flex-wrap: wrap;
}
.footer3-img h5 {
	font-size: 14px;
	line-height: 18px;
	color: white;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
.footer3-img p {
	font-size: 14px;
	line-height: 30px;
	color: #636363;
	font-family: OpenSans-Bold, OpenSans-Regular;
}
#footer2-text11 {
	margin-right: 45px;
}
#phone {
	font-size: 14px;
	line-height: 30px;
	color: #636363;
}
#name {
	font-size: 14px;
	line-height: 30px;
	color: #636363;
}
#message {
	font-size: 14px;
	line-height: 30px;
	color: #636363;
	padding-top: 15px;
}

@media screen and (max-width: 1125px) {
	#service-our-img {
	padding-left: 30px;
	padding-right: 30px;
}
#contact-text {
    padding: 70px 20px;
}
#home-call {
	padding-left: 30px;
	padding-right: 30px;
}
#home-logo {
	max-width: 90%;
	margin: 0 auto;
}
#home-new {
	max-width: 90%;
	margin: 0 auto;
}
#menu-leader {
	padding-left: 30px;
	padding-right: 30px;
}
#menu-project  {
	max-width: 90%;
	margin: 0 auto;
}
#home-services {
	
	padding-left: 30px;
	padding-right: 30px;
}
#home-choose {
	
	max-width: 90%;
	margin: 0 auto;
}
#home-choose-img > div {
    width: 27%;
}
#menu-bottom {
	padding-left: 30px;
	padding-right: 30px;
}
#menu .container h1 {
	width: 100%;
	text-align: center;
}
#menu .container ul {
	text-align: center;
}
#menu-top .container ul {
    width: 100%;
}
#menu-top > .container {
    text-align: center;
    height: 10%; 
}
footer {
    padding: 80px 20px;
    background-color: #252525;
}
#about-text {
    padding: 80px 20px;
}
#about-choose {
    padding: 80px 15px 75px;
   
}
#about-partner {
    padding: 70px 20px;
}
#about-action {
    padding: 28px 20px;
}
#menu-project-img > div > div {
    width: 49%;
}
#menu-project-img4 > div > div {
     width: 49%;
}
#menu-project-img2 > div > div {
     width: 49%;
}
#menu-project-img3 > div > div {
     width: 49%;
}
}

@media (max-width: 992px) {
#menuid-button {
    
    color: rgba(255,255,255,.5);
}
#menuid-button {
    background: none;
    margin-left: 0; 
}
.nav-color {
  line-height: 60px;
    margin-left: 0; 
}
.navbar-nav { 
    margin-top: 50px;
}
#nav-color1 {
    display: none;
}
#nav-color2 {
    display: none;
}
#nav-color3 {
    display: none;
}
  .mobileMenu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    position: fixed;
    top: 42px;
    width: 100%;
    text-align: center;
    background-color: #284928;
    bottom: 0;
    margin: auto;
    left: 0;
    z-index: 1;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
  }
  .mobileMenu.open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .mobileMenu .navbar-nav {
    overflow-y: auto;
        margin-top: 15px;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  .overlay.open {
    display: block;
    z-index: 1029;
  }
}


@media screen and (max-width: 954px) {
.modal-content {
    width: 65%;
}
#menu-top {
    display: none;
}
#active {
    margin-left: 0;  
}
}

@media screen and (max-width: 729px) {
#modal-fix {
    width: 65%;
}
#project-realated {
    padding-left: 20px;
    padding-right: 20px;
}
#menu-project-img > div > div {
    width: 100%;
}
#menu-project-img4 > div > div {
    width: 100%;
}
#menu-project-img2 > div > div {
    width: 100%;
}
#menu-project-img3 > div > div {
    width: 100%;
}
#project-img div {
    width: 100%;
    margin-bottom: 50px;
}
#project-main {
   padding-left: 20px;
   padding-right: 20px;
}
#project-text-left {
    width: 100%;
}
#project-text-right {
    width: 100%;
    margin-top: 30px;
}
#contact-text-left1 p {
    overflow-wrap: break-word;
    width: 50%;
}
#contact-text-right {
    width: 100%;
}
#contact-text-left {
    width: 100%;
}
#blog-right-achive p {
   margin-right: 10px;
    display: inline-block;
}
#blog-right-category p {
    margin-right: 10px;
    display: inline-block;
}
#blog-right {
    width: 90%;
    margin: 0 auto;
}
#blog-right input {
   width: 100%;
}
#blog-left-page  {
    text-align: center;
}
#blog-left {
    width: 90%;
    margin: 0 auto
}
#service-our-img div {
	width: 100%;
}
#menu-top {
    display: none;
}
#about-subscribe input {
    width: 80%;
    margin-bottom: 20px;
    border-radius: 28.5px;
}
.about-team-img-hover {
    position: relative;
    height: 312px;
    width: 60%;
    margin: 0 auto;
}
#about-subscribe button {
    width: 80%;
    border-radius: 28.5px;
}
#about-subscribe p {
    max-width: 100%;
}
#about-subscribe {
    padding: 30px;
}
#about-action .container {
    display: block; 
}
#about-choose {
    padding: 80px 20px 75px;
}
#about-action button {
    margin: 0 auto;
}
#about-action {
   text-align: center;
    padding-right: 20px;
   padding-left: 20px;
}
#about-text1 {
    text-align: center;
    max-width: 90%;
    margin: 50px auto 0;
}
#about-text .container div {
    width: 100%;
}
#about-team-img > div {
    width: 100%;
}
#about-partner .container{
   text-align: center;
}
#about-partner .container > div {
    width: 100%;
    margin-bottom: 50px;
}
#about-choose .container > div {
    width: 100%;
    margin-bottom: 50px;
}
#menu-top1 li p {
    font-size: 12px;
}
#menu-top1 li {
    margin-right: 12px;
}
#menu-text h3 {
    margin-top: 0; 
    
}
#menu-text button {
    margin-bottom: 50px;
    
}
#home-choose-img > div {
    width: 100%;
}
#home-services-img > div {
    width: 100%;
    
}
.home-services-img5 {
    width: 100%;
    object-fit: cover;
}
#menu-project-img > div {
    width: 100%;
    
}
#menu-leader-left1 > div {
    width: 100%;

    
}
.home-new-text > div > div {
     width: 100%;
}
#home-client {
    
    padding: 80px 50px;
    
}
#home-logo .container div {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
#home-call-left {
    width: 100%;
}
#home-call-right {
    width: 100%;
    padding-left: 0; 
}
#footer > div {
    width: 100%;
}
#footer4-img > div {
    width: 15%;
    margin-bottom: 10px;
}
footer {
    padding: 30px 20px;
    background-color: #252525;
}
#footer > div {
    width: 100%;
    margin-top: 30px;
}
#home-client-img a {
    margin: 0 15px;
}
#footer2-text1 ul li {
   
    display: inline-block;
    
}

#menu-leader1 {
    
    padding-left: 0; 
    margin-bottom: 22px;
    text-align: center;
    padding-top: 71px;
    background-position: center;
    
}
#menu-leader2 {
    
    padding-left: 0; 
    margin-bottom: 22px;
    text-align: center;
    padding-top: 71px;
    background-position: center;
    
}
#menu-leader3 {
    
    padding-left: 0; 
    margin-bottom: 22px;
    text-align: center;
    padding-top: 71px;
    background-position: center;
    
}
#menu-leader4 {
    
    padding-left: 0; 
    margin-bottom: 22px;
    text-align: center;
    padding-top: 71px;
    background-position: center;
    
}
.menu-leader2 {
   
  
    text-align: center;
}
#menu-leader-left > button {
    
    margin: 30px auto;
    display: block;
}
#menu-bottom p {
    text-align: center;
    margin-bottom: 30px;
}
#menu-bottom > .container {
    justify-content: center;
}
#home-call-right form select {
    margin-bottom: 25px;
}
#home-call-right form input {
    margin-bottom: 25px;
}
#menu-text h1 {
    font-size: 25px;
    overflow-wrap: break-word;
}
#menu-leader-left > h1 {
    font-size: 25px;
    overflow-wrap: break-word;
    text-align: center;
}
#menu-leader-left > p {
    font-size: 15px;
    overflow-wrap: break-word;
    text-align: center;
}
.home-call-text2 {
    overflow-wrap: break-word;
}
#menu ul li a {
    margin-left: 0; 
    
}
#home-services-img > div {
    background-color: #f7f7f7; 
}
#home-client-img {
    height: 77%; 
}
.blog-left-text1 p {
    padding-right: 15px;
}
.blog-left-text2 {
    padding-left: 15px;
}
}



